{% extends 'cac/publica/base.html' %}
{% block titulo %}Login{% endblock titulo %}


{% block contenido %}

<section class="py-5 vh-100">
    <div class="container-fluid h-custom py-5">
      <div class="py-5 row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" style="border-radius:1%;">
                {% csrf_token %}
                {% comment %} <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-linkedin-in"></i>
                </button>
                </div> {% endcomment %}
    
                <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Iniciar Sesion (DJANGO)</p>
                </div>
    
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <br>
                <input type="text" id="{{ form.username.auto_id }}" name="{{ form.username.name }}" class="form-control form-control-lg"
                    placeholder="Ingresa el nombre de usuario" value="{{ form.username.value | default:'' }}" />
                <label class="form-label" for="form3Example3">Nombre de usuario</label>
                </div>
                <div class="error">{{form.username.errors}}</div>
    
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="{{ form.password.auto_id }}" name="{{ form.password.name }}" class="form-control form-control-lg"
                        placeholder="Ingresa la contraseña" value="{{ form.password.value | default:'' }}" />
                    <label class="form-label" for="form3Example4">Contraseña</label>
                </div>
                <div class="error">{{form.password.errors}}</div>
    
                <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                {% comment %} <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                    Remember me
                    </label>
                </div> {% endcomment %}
                <a href="#!" class="text-body">Olvidaste la contraseña?</a>
                </div>
    
                <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a href="{% url 'registrarse' %}"
                    class="link-danger">Registrate</a></p>
                </div>
            </form>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}
