{% extends 'publica/base.html' %}
{% block titulo %}Cambiar contraseña{% endblock titulo %}


{% block contenido %}

<section class="py-5 vh-100">
    <div class="container-fluid h-custom py-5">
      <div class="py-5 row d-flex justify-content-center align-items-center h-100">
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="col-md-12">
                
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" style="border-radius:1%;">
                {% csrf_token %}

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <input type="password" id="{{ form.old_password.auto_id }}" name="{{ form.password1.name }}" value="{{ form.password1.value | default:'' }}" class="form-control" />
                        <label class="form-label" >{{ form.old_password.label }}</label>
                    </div>
                </div>
                <div class="error">{{form.old_password.errors}}</div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <input type="password" id="{{ form.new_password1.auto_id }}" name="{{ form.password1.name }}" value="{{ form.password1.value | default:'' }}" class="form-control" />
                        <label class="form-label" >{{ form.new_password1.label }}</label>
                    </div>
                </div>
                <div class="error">{{form.password1.errors}}</div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <input type="password" id="{{ form.new_password2.auto_id }}" name="{{ form.password1.name }}" value="{{ form.password1.value | default:'' }}" class="form-control" />
                        <label class="form-label" >{{ form.new_password2.label }}</label>
                    </div>
                </div>
                <div class="error">{{form.new_password2.errors}}</div>
{% comment %} 
                {{form.as_p}} {% endcomment %}
                <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Restablecer</button>
            </form>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}
