{% extends 'publica/base.html' %}
{% block titulo %}Login{% endblock titulo %}


{% block contenido %}

<section class="py-5 vh-100">
    <div class="container-fluid h-custom py-5">
      <div class="py-5 row d-flex justify-content-center align-items-center h-100">
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" style="border-radius:1%;">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Restablecer</button>
            </form>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}
