{% extends '../base_administracion.html' %}

{% block titulo %}Nueva categoria{% endblock%}

{% block contenido %}
<h1 class="mt-4">Categorias cursos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Nueva Categoriaa</li>
</ol>


<div class="card">
    <div class="card-header">Creacion de categoría</div>
    <div class="card-body">
        <form action="{% url 'categorias_nuevo' %}" method="post" novalidate>
            {% csrf_token %}
            {% include 'administracion/categorias/form.html' %}
        </form>
    </div>
</div>
{% endblock %}