{% extends './base.html' %}

{% block titulo %}Quienes Somos{% endblock titulo %}

{% block contenido %}
    <section class="py-5 mt-5 container">
        <div class="row">
            <article class="col-md-12">
                <section>
                    <div class="panel-pane pane-node-body">
                        <div class="pane-content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>Nuestros cursos están destinados a personas jóvenes y adultas, que busquen
                                            desarrollarse profesional y personalmente, ampliando sus oportunidades laborales
                                            de
                                            acuerdo a los desafíos que plantea el Siglo XXI.</p>

                                        <p>El objetivo es brindar herramientas que faciliten la inserción laboral en el
                                            sector
                                            Informática (IT), y en particular, fomentar la participación de las mujeres, con
                                            el
                                            fin de mejorar su <strong>empleabilidad.</strong> Para eso, desde la Agencia de
                                            Aprendizaje a lo largo de la vida establecemos un cupo del 50% de vacantes
                                            destinadas a ellas, lo que permite que todos los años se incremente el número de
                                            inscriptas y egresadas en habilidades tecnológicas, para insertarse y
                                            desarrollarse
                                            en el área de la programación.</p>

                                        <h3>Contenidos del Programa</h3>

                                        <p>Ofrecemos 4 opciones de aprendizaje:</p>

                                        <ul>
                                            <li>Full Stack - Java</li>
                                            <li>Full Stack - PHP</li>
                                            <li>Full Stack - Python</li>
                                            <li>Full Stack - Desarrollo Web (JavaScript/Node.JS) </li>
                                        </ul>

                                        <p><strong>Otros cursos</strong></p>

                                        <p>También te brindamos la posibilidad de que te sigas capacitando, a través de los
                                            cursos complementarios y cuatrimestrales de:</p>

                                        <ul>
                                            <li>Testing/QA</li>
                                            <li>Diseño UX/UI</li>
                                            <li>Big Data (Ciencia de Datos)</li>
                                        </ul>

                                        <p>Además, trabajamos aspectos vinculados al ámbito laboral, para lograr una
                                            incorporación exitosa en el mundo del trabajo.<br>
                                            Los cursos son <strong>gratuitos</strong> y tienen una duración de <strong>20
                                                semanas.</strong></p>

                                        <h3>Requisitos</h3>

                                        <ul>
                                            <li>Nivel inicial en programación</li>
                                            <li>Nivel básico de inglés</li>
                                            <li>Mayor de 18 años</li>
                                            <li>Título secundario</li>
                                        </ul>

                                        <h3>Modalidad Virtual</h3>

                                        <ul>
                                            <li>Se dictarán 2 clases por semana con un docente en línea de una duración de
                                                90
                                                minutos cada una.</li>
                                            <li>Curso virtual y auto asistido de habilidades blandas.</li>
                                            <li>Las ejercitaciones, actividades y/o consultas se desarrollarán dentro de la
                                                plataforma donde encontrarás todo lo necesario para tu formación: foros,
                                                material teórico y acompañamiento docente y pedagógico</li>
                                        </ul>

                                        <hr>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-separator"></div>
                    <div class="panel-pane pane-entity-field pane-node-field-descargas">



                        <div class="pane-content">
                            <div class="field field-name-field-descargas field-type-file field-label-hidden">
                                <div class="field-items"></div>
                            </div>
                        </div>


                    </div>
                </section>
            </article>

        </div>
    </section>
{% endblock contenido %}